@import url("https://fonts.cdnfonts.com/css/pp-neue-montreal");
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Host Grotesk" , sans-serif;
}



header{
    position: fixed;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    width: 100vw;
    height:40px;
    z-index: 1000;

}


header img{
    width:200px;
    position:relative;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #fff;
}

.first{
    justify-content: space-around;
    padding: 0px 80px;
    z-index: 100;
     background:
  linear-gradient(90deg, #fbead1 0%, #eedbf8 50%, #e1dcff 100%),
  repeating-linear-gradient(0deg, rgba(255,255,255,0.05) 0px, rgba(255,255,255,0.05) 1px, transparent 1px, transparent 40px),
  repeating-linear-gradient(90deg, rgba(255,255,255,0.05) 0px, rgba(255,255,255,0.05) 1px, transparent 1px, transparent 40px)
}

.first::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('grain.jpeg');
    opacity: 0.3;
    background-blend-mode: overlay;
    filter: contrast(1.2) brightness(1.05);
}


.intro{
    font-size: 2em;
    text-align: center;
    color: #333;
}
.intro h2{
    font-size: 1em;
}

.first .imgbx{
    position: relative;
    top: -50px;
    width: 600px;
    height: 540px;
    z-index: 1;
}

.first .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
     border-radius: 0px 0px 1500px 1500px;
}

.intro span{
   font-family: "Montserrat", sans-serif;
    font-weight: 900;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.second{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #fff;
    justify-content: space-around;
    background: url('sheyitwo.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.second .anime-text{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    z-index: 10000000;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(219, 164, 164, 0.5);
    backdrop-filter: blur(2px);
    padding: 15px 25px;
}

.second .anime-text .bout{
  font-size:1.8rem;
  text-transform:uppercase;
  font-weight:900;
}

.second .anime-text p{
    width: 950px;
    color: #222;
    font-family: "Host Grotesk" , sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 2rem;
    line-height: 1;
}

.second .anime-text .word{
    display: inline-block;
    position: relative;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
    padding: 0.1rem 0.2rem;
    border-radius: 2rem;
    will-change: background-color, opacity;
}

.anime-text .word.keyword-wrapper{
    margin: 0 0.4rem 0.2rem 0.2rem;
}

.anime-text .word span{
    position: relative;
}

.anime-text .word span.keyword{
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    padding: 0.1rem 0;
    color: #141414;
}

.anime-text .word span.keyword::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: calc(100% + 1rem);
    height: calc(100% + 0.4rem);
    /*background-color: #fff;*/
    border-radius: 2rem;
    z-index: -1;
}

.anime-text .word span.keyword.health::before,
.anime-text .word span.keyword.communication::before,
.anime-text .word span.keyword.influence::before,
.anime-text .word span.keyword.excellence::before,
.anime-text .word span.keyword.values::before{
    background-color: #7a78ff;
    color: #fff;
}

.anime-text .word span.keyword.revona,
.anime-text .word span.keyword.health,
.anime-text .word span.keyword.communication,
.anime-text .word span.keyword.influence,
.anime-text .word span.keyword.excellence,
.anime-text .word span.keyword.values{
    color: #fff;
}

.anime-text .word span.keyword.revona::before{
    background: #3b82f6;
    /*background-color: linear-gradient(135deg , #3b82f6, #9333ea);*/
}

.anime-text .word,
.anime-text .word span{
    opacity: 0;
}

.third{
     width: 100%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     background:
  linear-gradient(135deg, #fbead1 20%, #eedbf8 50%, #e1dcff 100%),
  repeating-linear-gradient(60deg, rgba(255,255,255,0.05) 0px, rgba(255,255,255,0.05) 1px, transparent 1px, transparent 40px),
  repeating-linear-gradient(45deg, rgba(255,255,255,0.05) 0px, rgba(255,255,255,0.05) 1px, transparent 1px, transparent 40px);
}

.third h1{
    padding: 20px 0px;
}

.third .skills{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.third .skills .card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    margin: 0px 70px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px);
}

.third .skills .card {
    font-size: 1.3rem;
}


.slider{
    position: relative;
    width: 100%;
    height: 100svh;
    overflow: hidden;
}

.slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider h1{
    font-size: 3em;
    font-weight: 400;
    letter-spacing: -0.1em;
    line-height: 1.2;
}

.slider-images{
    position: absolute;
    width: 100%;
    height: 100%;
}

.slider-images::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}

.slider-images img{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    will-change: transform, opacity;
}

.slider-title{
    position: absolute;
    top: 50%;
    left: 2rem;
    transform:translateY(-50%);
    width: 50%;
    color: #fff;
}

.slider-indicator{
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
}

.slider-indices{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 1.25rem;
}

.slider-indices p{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff;
}

.ind{
    position: relative;
    width: 1.25rem;
    display: flex;
    justify-content: flex-end;
    will-change: opacity;
}

.marker{
    position:relative;
    width: 0.75rem;
    height: 1px;
    background: #fff;
    transform-origin: right;
    will-change: transform;
    transform: scaleX(0);
}

.slider-progress-bar{
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: rgba(255, 255, 255, 0.35);
}

.slider-progress{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%) scaleY(0);
    width: 3px;
    height: 100%;
    background-color: #fff;
    transform-origin: top;
    will-change: transform;
}

.line{
    position: relative;
    display: block;
    will-change: transform;
}


.footer{
    position: relative;
    width: 100%;
    height: 100svh;
    padding: 2rem;
    overflow: hidden;
    color: #fff;
     background:
  linear-gradient(135deg, #fbead1 20%, #eedbf8 50%, #e1dcff 100%),
  repeating-linear-gradient(60deg, rgba(255,255,255,0.05) 0px, rgba(255,255,255,0.05) 1px, transparent 1px, transparent 40px),
  repeating-linear-gradient(45deg, rgba(255,255,255,0.05) 0px, rgba(255,255,255,0.05) 1px, transparent 1px, transparent 40px);
    
}

.footer h1{
    font-family: 4rem;
    font-weight: 500;
    letter-spacing: -0.04rem;
    line-height: 1.2rem;
    text-align: center;
    width: 45%;
}

.footer-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.footer-content *{
    pointer-events: auto;
}

.object-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.object{
    position: absolute;
    width: max-content;
    font-size: 2rem;
    font-weight: 500;
    background-color: #fff;
    color: #0f0f0f;
    padding: 1rem 2rem;
    border-radius: 10rem;
    cursor: grab;
    user-select: none;
    pointer-events: auto;
    z-index: 2;
}



@media (max-width:1000px){
    h1{
        font-size: 2em;
        letter-spacing: 0px;
    }

    .first{
       justify-content: center;
       flex-direction: column-reverse;
    }

    .intro{
      font-size: 1.2em;
      text-align: center;
      margin: 20px 0px;
      color: #333;
    }

    .intro h2{
    font-size: 1em;
    }

.first .imgbx{
    position: relative;
    top: 5px;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 350px;
    z-index: 1;
}

.first .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.intro span{
   font-family: "Montserrat", sans-serif;
    font-weight: 900;
    letter-spacing: 0px;
    text-transform: uppercase;
}

    .intro h1, .outro h1{
        width: 100%;
    }
    .second .anime-text p{
        width: 340px;
        font-size: 1rem;
    }

    .slider-title{
        top: 5rem;
        left: 0;
        transform: none;
        width: 100%;
        padding: 2rem;
    }

    .slide-indicator{
        top: unset;
        transform: none;
        bottom: 2rem;
    }

    .footer h1{
        width: 100%;
    }
    .object{
        font-size: 1rem;
    }
}










